<h1><%= @author.name %></h1>
<tbody>
  <tr>
    <td>Name: <%= @author.name %></td>
  </tr>
</tbody>

<%= link_to "New Book", new_author_book_path(@author) %>

<h3><%= pluralize(@author.books.count, 'Book') %></h3>
<ul>
  <% @author.books.each do |b| %>
    <li><%= link_to b.title, author_book_path(b) %></li>
  <% end %>
</ul>

<p><%= link_to "Edit Author", edit_author_path(@author)%></p>
