<h1>Editing "<%= @user.name %>"</h1>

<%= form_for @user do |f| %>
  Name: <%= f.text_field :name %><br>

  <div class="field">
    <%= f.label "Add/Remove Books from Shelf" %><br>
    <%= f.collection_check_boxes :book_ids, Book.all, :id, :title do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
