<h1><%=@user.name%>'s Bookshelf</h1>

<% if params.has_key?(:message) %>
  <p><%= params[:message] %></p>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Favoite</th>
  </tr>
<% @user.user_books.each do |userbook| %>
  <tr>
    <td><%= link_to userbook.book.title, book_path(userbook.book) %></td>
    <td><%= userbook.book.genre %></td>
    <td><%= userbook.favorite %></td>
    <td><%= link_to "button for switching favorite", favorite_path %></td><br><br>
    <td><%= link_to userbook, userbook_path(userbook) %></td>
    <td><%= userbook.class %></td>
    <td><%= userbook.id %></td>
  </tr>
<% end %>
</table><br>


<%= link_to "Edit User/Add books to shelf", edit_user_path(@user) %><br>

<%= link_to "Who has the largest Bookshelf", 'largest_bookshelf' %>
