<h1><%=@user.name%>'s Bookshelf</h1>

<% if params.has_key?(:message) %>
  <p><%= params[:message] %></p>
<% end %>

<% @user.books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book_path(book) %></td>
    <td>, <%= book.genre %></td><br><br>
  </tr>
<% end %><br>

<%= link_to "Edit User", edit_user_path(@user) %><br>

<%= "User Authors: (stub)" %><br>

stub link to largest_bookshelf
