<h2>Editing "<%= @book.title %>"</h2>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h3>

    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @book do |f| %>
  Title: <%= f.text_field :title %><br>
  Genre: <%= f.input :genre, :as => :select, :collection => Book.genres.keys.to_a %><br>
  Pages: <%= f.text_field :pages %><br>
  Author: <%= f.text_field :author_name, list: "authors_autocomplete" %><br>
  <datalist id="authors_autocomplete">
    <% Author.all.each do |author| %>
      <option value="<%= author.name %>">
    <% end %>
  </datalist>
  <%= f.submit %>
<% end %>
