<h2>Editing "<%= @book.name %>"</h2>

<% if @book.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h3>

    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @author do |f| %>
  Title: <%= f.text_field :title %><br>
  Genre: <%= f.text_field :genre %><br>
  Pages: <%= f.text_field :pages %><br>
  <%= f.submit %>
<% end %>
