Book Show View

<h2><%= @book.title %></h2>
<tbody>
  <tr>
    <td>Title: <%= @book.title %></td>
    <td>Genre: <%= @book.genre %></td>
    <td>Pages: <%= @book.pages %></td>
    <td>Author: <%= link_to @book.author.name, author_path(@book.author) if @book.author%></td>
  </tr>
</tbody>

<p><%= link_to "Edit Book", edit_author_book_path(@book.author, @book) if @book.author %></p>
