<!DOCTYPE html>
<html>
  <head>
    <title>BookShelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- script taken from facebook tutorial -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : 1909421102688170,
          cookie     : true,
          xfbml      : true,
          version    : 'v3.2'
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <h2>Navbar</h2>
    <p>
      <%= link_to "Users", users_path %>
      <%= link_to "Authors", authors_path %>
      <%= link_to "Books", books_path %>
    </p>

    <% if session.include? :user_id %>
      <p> Welcome <%= User.find(session[:user_id]).name %> <%= link_to "log out", logout_path, method: :delete %> </p>
    <% else %>
      <p> <%= link_to "log in", login_path %> Are you new? <%= link_to "sign up", signin_path %> </p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
